{% extends "base.html" %}

{% block title %}Verify 2FA | HomeFinder{% endblock %}

{% block content %}
    {% url 'login-page' as login_url %}
    <section class="auth-layout">
        <section class="panel auth-panel">
            <h2>Two-Factor Verification</h2>
            {% include "partials/_form_layout.html" with form=form next_url=next_url submit_label=submit_label submit_loading_label=submit_loading_label helper_text="Code expired?" helper_link_url=login_url helper_link_label="Restart login" %}
        </section>
    </section>
{% endblock %}
